@model IEnumerable<PA2_2022_2C_WebAppMVC.Models.Localidades>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomLoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomCiudad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomLoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomCiudad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Localidad">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Localidad">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Localidad">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
