@model PA2_2022_2C_WebAppMVC.Models.Viajes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Viajes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Km)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Km)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantViajes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantViajes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdServicio">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
